.top-header {
    width: 100%;
    min-height: 80px;
    background: #141517;
}

.top-header .title {
    color: whitesmoke;
}

ul.menu-top-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

ul.menu-top-nav li {
    float:left;
}

ul.menu-top-nav li a {
    font-size: 1em;
    color: whitesmoke;
    display: block;
    padding: 5px;
}